<!DOCTYPE html>
<html lang="en">

<head>
	<title>German traffic sign recognition</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<style>
		body{font-family:"微软雅黑";font-size:14px;}
		.wrapper{width:800px;margin-right:auto;margin-left:auto;}
	</style>
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/static/css/upload.css">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
	<!--// css -->
	<link rel="stylesheet" href="/static/css/lightbox.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
	<link href="/static/css/owl.theme.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
		rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<!-- //font -->
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<script src="/static/js/upload.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 4,
				itemsDesktop: [640, 5],
				itemsDesktopSmall: [414, 4]

			});
		}); 
	</script>
	<script>
		function changeM() {
			var inputJ = $("#changeMore"),
				input = inputJ[0],
				Con = $("#ImgCon");

			inputJ.change(function (e) {
				var file = e.target.files[0],//拿到原始对象
					reader = new FileReader();

				//readAsDataURL(file),读取文件，将文件以数据URL的形式保存在result的属性中
				reader.readAsDataURL(file);

				//文件加载成功以后，渲染到页面
				reader.onload = function (e) {
					var $img = $('<img>').attr("src", e.target.result);
					Con.append($img)
				}
			});

		}
		changeM();
	</script>
</head>


<!--主体部分-->

<body>
	<!-- banner -->
	<!--    顶部栏-->
	<div class="banner jarallax">
		<div class="w3layouts-header-top">
			<div class="container">
				<div class="w3-header-top-grids">
					<div class="w3-header-top-left">
						<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> bit112016</p>
					</div>
					<div class="w3-header-top-right">
						<div class="agileinfo-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
								<li><a href="#"><i class="fa fa-vk"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

		<!--        主界面-->
		<div class="banner-info">
			<div class="banner-info-text">
				<div class="container">
					<div class="agileits-logo">
						<h1><a href="index.html">Germany<span> Traffic signs</span></a></h1>
					</div>
					<div class="wthree-banner">
						<div class="slider">
							<script src="/static/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
									// Slideshow 4
									$("#slider3").responsiveSlides({
										auto: true,
										pager: true,
										nav: true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
											$('.events').append("<li>before event fired.</li>");
										},
										after: function () {
											$('.events').append("<li>after event fired.</li>");
										}
									});
								});
							</script>
							<div id="top" class="callbacks_container-wrap">
								<ul class="rslides" id="slider3">
									<li>
										<div class="slider-info">
											<h3>GROUP 10</h3>
											<p>German traffic sign recognition system based on Hadoop distributed
												computing</p>
											<div class="more-button">
												<a href="#" data-toggle="modal" data-target="#myModal">About This
													WEB</a>
											</div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>
					<!-- //banner -->
				</div>
			</div>

			<div class="header-top">
				<div class="container">
					<div class="header-top-info">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<nav>
									<ul class="nav navbar-nav">
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="#welcome" class="scroll">Use it</a></li>
										<li><a href="#services" class="scroll">Show</a></li>
										<li><a href="#team" class="scroll">Team</a></li>
									</ul>
								</nav>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- modal -->

	<!--    点击about this web后出现的弹窗-->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Germany <span>Traffic signs</span></h4>
				</div>
				<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="images/2.jpg" alt="" />
						<p>北京理工大学大数据软件技术课程小组作业：</p>
						<p>基于ResNet的德国交通标志识别系统：您可上传本地文件于下框中，经计算后我们将告诉您该标志的具体含义~</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- welcome -->
	<div class="welcome" id="welcome">
		<div class="container">
			<div class="w3-welcome-heading">
				<h2>use here</h2>
			</div>

			<!--修改！！！ 对接！！！-->
			<div>
				<div class="w3l-welcome-info">
					<div class="col-sm-6 welcome-grids">
						<div class="welcome-img">
							<form action="/predict" method="POST" enctype="multipart/form-data">

								<div class="w3l-welcome-info" style="text-align: center">
								<a class="file" >上传文件
								<input id="file" name="file" onchange="previewInputImage(this)" type="file" />
								</a>
								</div>


								<div class="w3l-welcome-info" style="text-align: center">
								<img src="" id="show" width="200" align="middle" />
								</div>

								<div class="w3l-welcome-info" style="text-align: center">
								<a class="file">提交
									<input type="submit"></input>
								</a>
									</div>

							<img src="" id="show" width="400" />
							</form>
							<script>
								function previewInputImage(obj) {
									var newsrc = getObjectURL(obj.files[0]);
									document.getElementById('show').src = newsrc;
								}
								function getObjectURL(file) {
									var url = null;
									if (window.createObjectURL != undefined) { // basic
										url = window.createObjectURL(file);
									} else if (window.URL != undefined) { // mozilla(firefox)
										url = window.URL.createObjectURL(file);
									} else if (window.webkitURL != undefined) { // webkit or chrome
										url = window.webkitURL.createObjectURL(file);
									}
									return url;
								}
							</script>
						</div>
					</div>
				</div>
				<div class="w3l-welcome-text">
					<p>请将您想要识别的图片上传至左边的框中，我们将回馈给您该标志的具体含义，感谢您的使用！</p>
				</div>
			</div>
		</div>



		<!--    底边栏及返回顶部按钮-->
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="w3-agile-social-grids">
					<h4>We are group 10</h4>
					<div class="border"></div>
				</div>
				<div class="copyright">
					<p>BIT Big Data And Software Technology</p>
				</div>
			</div>
		</div>
		<!-- //footer -->

		<script src="/static/js/jarallax.js"></script>
		<script src="/static/js/SmoothScroll.min.js"></script>
		<script type="text/javascript">
			/* init Jarallax */
			$('.jarallax').jarallax({
				speed: 0.5,
				imgWidth: 1366,
				imgHeight: 768
			})
		</script>
		<script src="/static/js/responsiveslides.min.js"></script>
		<script type="text/javascript" src="/static/js/move-top.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function () {
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<script src="/static/js/owl.carousel.js"></script>
</body>

</html>